# Imagens out (in your computer)
SLICER_DATA_ROOT=../../pampas_repository_groups/group_007
SLICER_OUT_ROOT=../../pampas_repository_groups/group_007/_slices
SLICER_IMAGES_SUBDIR=.

# JSON 
ANNOTATIONS_HOST_PATH=../../pampas_repository_groups
SLICER_LS_JSON=/ann/group_7_labels.json

# Label Studio extern link
PUBLIC_URL=http://localhost:8080
# Caminho web sob /label-studio/files que corresponde ao OUT:
# (como montaste o repo em /label-studio/files/pampas_repository)
LS_ROOT=pampas_repository

# Tiling
SLICER_SLICE_SIZE=1024
SLICER_OVERLAP=0.20
SLICER_MIN_VISIBLE=0.20
SLICER_DROP_TINY=4
